@import 'tailwindcss';

body {
    background-color: black;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: underline;
}

a:hover {
    background-color: white;
    color: black;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: 70vh;
    font-family: "Press Start 2P", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container img {
    max-height: 512px;
    height: 100%;
    width: auto;
}

span {
    font-family: 'Inter';
}

.content {
    border: 1px solid white;
    align-items: baseline;
    color: white;
}

.default-button:hover,
.active-button {
    background-color: white;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
}

.default-button {
    background-color: black;
    color: white;
}

.tab-container {
    display: flex;
    flex: 1;
    max-height: 100%;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    color: white;
}

@media screen and (max-width: 768px) {
    .tab-container {
        scrollbar-gutter: stable;
        border: 1px solid white;
    }
}

.divider {
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px auto 5px auto;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px white solid;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-in;
}